<h1>Workout: <%=@workout.name%></h1>

<img src="<%=@workout.create_map%>" alt="">

<% if @workout.user = current_user %>
    <%= link_to "Edit Workout", edit_workout_path(@workout)%>
<%end%>

<h2>Segments:</h2>

<%= render partial: "/segments/segments", collection: @segments, as: "segment"%>

