<div class = "text-center">
    <h1>Segment: <%=@segment.name%></h1><br><br>

    <img src="<%=@segment.map%>" alt=""><br><br>
    <h2>Distance:</h2>
    <h3><%=display_distance(@segment.distance)%></h3>
</div><br>